.git
.idea
.gitignore
.elasticbeanstalk
scripts
/build
/node_modules
/assets/scenes
/scripts
/server/dist
/server/node_modules

/sites/*
cambrianar-sites
cb-backend-data
build
scripts
server/dist
node_modules


**/*.log
**/.DS_Store
**/Thumbs.db
