:root {
    --panel-width: 450px;
    --panel-height: 100%;
    --panel-close-width:100px;
    --panel-close-height:100%;

    --details-panel-width: 450px;
    --details-panel-height: 100%;
    --details-panel-close-width:230px;

    --mdc-theme-secondary:#018786;
    --mdc-theme-inactive:rgba(0,0,0,0.3);
    --triangle-thickness:8px;
}

.visualizer {
    position: absolute;
    top:0;
    width: calc(var(--app-width) + var(--panel-width));
    height: var(--app-height);
    overflow: hidden;

    display: flex;

    transition: left 200ms;
}

.visualizer-container {
    position: relative;
    width: calc(var(--app-width) - var(--panel-width));
}

.visualizer-tools {
    z-index: 100 !important;
}

.visualizer.products, .visualizer.scenes  {
    left:0;
}

.visualizer.product-info, .visualizer.share  {
    left: calc(-1 * var(--details-panel-width));
}

.floating-logo {
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    width: 160px;
    padding: 20px;
}

.visualizer-dat-gui {
    top:auto;
    bottom: 20px;
    z-index: 1000;
}

.cbarview {
    width: 100%;
    height: 100%;
}

.capture-button {
    position: fixed;
    z-index: 100;
    bottom: 40px;
    left:50%;
}

#drawing-mark-overlay {
    opacity: 0.6;
    background-color: #00afff;
}

.primary-panel {
    width:var(--panel-width);
    height: var(--panel-height);

    font-family: Avenir, sans-serif;
    display: flex;
    flex-direction: row;
    transition: left 200ms;
    z-index: 10;
    pointer-events: none;
}

.visualizer.products .primary-panel {
    left:0;
}

.primary-panel .panel {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    background: #ffffff;
    min-width:var(--panel-width);
    pointer-events: auto;
}

.primary-panel .panel .title {
    flex-shrink: 0;
    background: var(--mdc-theme-secondary);
    color: #ffffff;
    font-weight: 800;

    display: flex;
    justify-content: space-evenly;
    user-select: none;
}

.primary-panel .panel .title .choose {
    flex-basis: 50%;
    cursor: pointer;
    padding: 10px;
    text-align: center;

    background: var(--mdc-theme-inactive);
}

.primary-panel .panel .title .choose.selected {
    color: #ffffff;
    position:relative;
    background: transparent;
}

.primary-panel .panel .title .choose.selected:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid var(--triangle-thickness) var(--mdc-theme-secondary);
    border-left: solid var(--triangle-thickness) transparent;
    border-right: solid var(--triangle-thickness) transparent;
}

.close-button-container {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;
    z-index: 10;
    height: var(--panel-close-height);
    flex-basis: var(--panel-close-width);
}

.products-button.close-button-container {
    left: 0;
    margin-left: 20px;
}

.product-details-button.close-button-container {
    right: 0;
    margin-right: 20px;
}

.close-button {
    cursor: pointer;
    color: white;
    pointer-events: auto;
}

.close-button i {
    font-size: 40px;
}

.mdc-fab {
    text-transform: unset;
}

.secondary-panel {
    width: var(--details-panel-width);
    height: var(--details-panel-height);

    font-family: Avenir, sans-serif;
    display: flex;
    flex-direction: row;
    z-index: 10;

    pointer-events: none;
    background-color: white;
}

.visualizer .close-button-container.product-details-button {
    flex-basis: var(--details-panel-close-width);
    height: var(--panel-close-height);
}

.secondary-panel .panel {
    pointer-events: auto;
    height: 100%;
}

.product-name {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;

    font-size: 2.0vh;
    color: #fff;
    pointer-events: none;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    text-transform: uppercase;
    user-select: none;
}

.product-name.dark {
    color: #f0f055;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#legally-required-logo {
    right: unset;
    left: 20px;
}

.secondary-panel {
    height: 100%;
    padding: 20px;
}

.secondary-panel ul {
    column-count: 2;
    -webkit-columns: 2;
}

.horizontal-swatch-listing-content {

}

.horizontal-swatch-listing-image {
    height: 95px;
    border: 1px solid #aeaeae;
}

.tiled-grid-selector {
    right:100px;
    background: white;
    font-family: Avenir, sans-serif;
}

/*.tiled-grid-selector-element.selected {*/
/*    border: solid 2px #1f1f1f;*/
/*}*/

.tiled-grid-selector-element:hover {

}

.tiled-grid-selector-element .selected {

}

.tiled-grid-selector-element-image {
    filter: brightness(0%) grayscale(100%);
}

.tiled-grid-selector-element:hover .tiled-grid-selector-element-image {
    filter: brightness(100%) grayscale(100%);
}

.horizontal-swatch-listing-item.selected {
    border:1px solid var(--mdc-theme-secondary, #555555);
}

/* Mobile Phone or iPad in portrait */
@media (orientation: portrait) {

    :root {
        --panel-width: 100vw;
        --panel-height: 70%;
        --panel-close-height: 96px;

        --details-panel-close-width:100px;
        --details-panel-close-height:50px;

        --details-panel-width: 100vw;
        --details-panel-height: 100%;
    }

    .visualizer  {
        left:0 !important;
        top:0 !important;
        width: var(--app-width);
        height: var(--app-height);
    }

    .visualizer-container {
        position: absolute;
        top:0;
        left:0;
        width: var(--app-width);
        height: var(--app-height);
    }

    .close-button-container {
        top:unset;
        bottom: 0;
        transition: bottom 200ms;
    }

    .products-button.close-button-container {
        margin-left: 0;
    }

    .visualizer.products .products-button.close-button-container, .visualizer.scenes .products-button.close-button-container {
        margin-left: 0;
        bottom: calc(var(--panel-height));
    }

    .floating-logo {
        width: 100px;
        padding: 10px;

    }

    #legally-required-logo {
        visibility: hidden;
    }

    .product-name {
        bottom: 5px;
        right: 5px;
    }

    .primary-panel, .secondary-panel {
        position: absolute;
        top:unset;
        left:0;

        width: var(--app-width);

        flex-direction: column;
        align-items: center;
        transition: bottom 200ms;
    }

    .primary-panelr {
        bottom: calc(-1 * var(--panel-height));
    }

    .secondary-panel {
        position: absolute;
        bottom: calc(-1 * var(--details-panel-height));
        z-index: 10;
    }

    .visualizer.products .primary-panel,
    .visualizer.scenes .primary-panel,
    .visualizer.product-info .secondary-panel,
    .visualizer.share .secondary-panel {
        bottom:0;
    }

    .primary-panel {
        height: var(--panel-height);
        bottom: calc(-1 * var(--panel-height));
    }

    .secondary-panel {
        bottom: calc(-1 * var(--details-panel-height));
        height: var(--details-panel-height);
        min-width:var(--details-panel-width);
    }

    .close-button-container {
        order: 0;
        width: 100%;
    }

    .mdc-fab {
        width: 45px;
        height: 45px;
    }

    .visualizer .close-button-container.product-details-button {
        width: unset;
        bottom: 0;
        z-index: 11;
    }

    .visualizer.product-info .product-details-button.close-button-container, .visualizer.share .product-details-button.close-button-container {
        bottom: calc(var(--details-panel-height) - 96px);
    }

    .visualizer .close-button-container.product-details-button .mdc-fab {
        width: unset;
    }

    .visualizer.products .visualizer-tools,
    .visualizer.scenes .visualizer-tools,
    .visualizer.product-info .visualizer-tools,
    .visualizer.share .visualizer-tools {
        visibility: hidden;
    }
}

/* Mobile Only */
@media only screen and (max-device-width: 480px) {

}

/* iPad Portrait Only */
@media only screen and (min-device-width: 768px) and (orientation: portrait)  {

}

/* Small screen or iPad Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape)  {

}