.color-picker {
    position: absolute;
    bottom: 5px;
    width: 100vw;
    height: 150px;

    z-index: 10000;
    border: 1px solid transparent;
    background: #555;
}

.color-picker .wrapper {
    overflow-x: scroll;
}

.color-picker .scroller {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: 35px 35px 35px 35px;
    grid-auto-columns: 35px;
    grid-gap: 1px;
}

.color-picker .scroller .swatch {
    width: 35px;
    height: 35px;
}

.color-picker .toggle {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 10px;
    margin-top: -60px;
}

.color-picker.closed .toggle {
    margin-top: -80px;
    transition: all 0.2s;
}

.color-picker.open {
    bottom: 5px;
    transition: all 0.2s;
}
.color-picker.closed {
    bottom: -150px;
    transition: all 0.2s;
}