@media(max-width: 480px) {
    .share-dialog .MuiDialog-paperWidthXl {
        min-width: 100vw;
        overflow: hidden;
    }
}

.share-dialog .MuiPaper-root {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
